<!-- templates/analytics_home.html -->
{% extends 'base.html' %}

{% block content %}
	<form action="" method="post">
		<div class="row">
	    	{% csrf_token %}
			<div class="col">
		    	<table>
		    		<tbody>
		    			<tr>
		    				<td>{{ form.Group_1_Min_Age.label_tag }}</td>
		    				<td>{{ form.Group_1_Min_Age }}</td>
		    			</tr>
		    			<tr>
		    				<td>{{ form.Group_1_Max_Age.label_tag }}</td>
		    				<td>{{ form.Group_1_Max_Age }}</td>
		    			</tr>
		    			<tr>
		    				<td>{{ form.Group_1_Sites.label_tag }}</td>
		    				<td>{{ form.Group_1_Sites }}</td>
		    			</tr>
		        	</tbody>
		        </table>
		    </div>
		    <div class="col">
		    	<table>
		    		<tbody>
		    			<tr>
		    				<td>{{ form.Group_2_Min_Age.label_tag }}</td>
		    				<td>{{ form.Group_2_Min_Age }}</td>
		    			</tr>
		    			<tr>
		    				<td>{{ form.Group_2_Max_Age.label_tag }}</td>
		    				<td>{{ form.Group_2_Max_Age }}</td>
		    			</tr>
		    			<tr>
		    				<td>{{ form.Group_2_Sites.label_tag }}</td>
		    				<td>{{ form.Group_2_Sites }}</td>
		    			</tr>
		        	</tbody>
		        </table>
		    </div>
		</div>
		<br>
		<input type="submit" value="Submit Query" />
	</form>


{% endblock content %}
