<!-- templates/gh_new.html -->
{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="col-10">
			<h1> New General Health/Physical Functioning </h1>
			<br>
		</div>
		<div class="col-2" align="right">
		</div>
	</div>
	<form action = "" method = "post">
		{% if form.errors %}
		<!-- Error messaging -->
		<div id="errors">
			<div class="inner">
				<p>There were some errors in the information you entered. Please correct the following:</p>
				{{ form.non_field_errors }}
				<ul>
					{% for field in form %}
						{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
		<!-- /Error messaging -->
		{% endif %}

		{% csrf_token %}
		{% load staticfiles %}
		<link rel='stylesheet' href="{% static 'css/questionnaire.css' %}" type='text/css'/>
		<table border=1 class="table table-bordered table-striped">
			<thead>
				<tr>
					<!-- For Drop-down Selection Box format -->
					<th style="width: 75%; vertical-align: top; margin-left: 10px"><h3>Question</h3></th>
					<th style="width: 25%; vertical-align: top; margin-left: 10px"><h3>Answer</h3></th>

					<!-- For use with Selection Grid format if preferred -->
					<!-- <th style="width: 40%; vertical-align: top; margin-left: 10px"><h3>Question</h3></th>
					<th style="width: 12%; vertical-align: top; margin-left: 10px">
						<h3>Answer</h3>
					</th>
					<th style="width: 12%"></th>
					<th style="width: 12%"></th>
					<th style="width: 12%"></th>
					<th style="width: 12%"></th> -->
				</tr>
			</thead>
			<style> select {width: 200px;} </style>
			<tbody>
				<!-- For Drop-down Selection Box format -->
				{% for field in form %}
				<tr>
					<td> {{ field.label_tag}} </td>
					<td> {{ field }} </td>
				</tr>
				{% endfor %}

				<!-- Selection grid format. Use if preferred -->
				<!-- <tr>
					<td>{{ form.gh1.label_tag }}</td>
					<td>{{ form.gh1.1 }}</td>
					<td>{{ form.gh1.2 }}</td>
					<td>{{ form.gh1.3 }}</td>
					<td>{{ form.gh1.4 }}</td>
					<td>{{ form.gh1.5 }}</td>
				</tr>
				<tr>
					<td>{{ form.gh2.label_tag }}</td>
					<td>{{ form.gh2.1 }}</td>
					<td>{{ form.gh2.2 }}</td>
					<td>{{ form.gh2.3 }}</td>
					<td>{{ form.gh2.4 }}</td>
					<td>{{ form.gh2.5 }}</td>
				</tr>
				<tr>
					<td>{{ form.gh3.label_tag }}</td>
					<td>{{ form.gh3.1 }}</td>
					<td>{{ form.gh3.2 }}</td>
					<td>{{ form.gh3.3 }}</td>
					<td>{{ form.gh3.4 }}</td>
					<td>{{ form.gh3.5 }}</td>
				</tr>
				<tr>
					<td>{{ form.gh4.label_tag }}</td>
					<td>{{ form.gh4.1 }}</td>
					<td>{{ form.gh4.2 }}</td>
					<td>{{ form.gh4.3 }}</td>
					<td>{{ form.gh4.4 }}</td>
					<td>{{ form.gh4.5 }}</td>
				</tr>
				<tr>
					<td>{{ form.gh5.label_tag }}</td>
					<td>{{ form.gh5.1 }}</td>
					<td>{{ form.gh5.2 }}</td>
					<td>{{ form.gh5.3 }}</td>
					<td>{{ form.gh5.4 }}</td>
					<td>{{ form.gh5.5 }}</td>
				</tr>
				<tr>
					<td>{{ form.gh6.label_tag }}</td>
					<td>{{ form.gh6.1 }}</td>
					<td>{{ form.gh6.2 }}</td>
					<td>{{ form.gh6.3 }}</td>
					<td>{{ form.gh6.4 }}</td>
					<td>{{ form.gh6.5 }}</td>
				</tr>
				<tr>
					<td>{{ form.gh7.label_tag }}</td>
					<td>{{ form.gh7.1 }}</td>
					<td>{{ form.gh7.2 }}</td>
					<td>{{ form.gh7.3 }}</td>
					<td>{{ form.gh7.4 }}</td>
					<td>{{ form.gh7.5 }}</td>
				</tr>
				<tr>
					<td>{{ form.gh8.label_tag }}</td>
					<td>{{ form.gh8.1 }}</td>
					<td>{{ form.gh8.2 }}</td>
					<td>{{ form.gh8.3 }}</td>
					<td>{{ form.gh8.4 }}</td>
					<td>{{ form.gh8.5 }}</td>
				</tr>
				<tr>
					<td>{{ form.gh9.label_tag }}</td>
					<td>{{ form.gh9.1 }}</td>
					<td>{{ form.gh9.2 }}</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>{{ form.gh10.label_tag }}</td>
					<td>{{ form.gh10.1 }}</td>
					<td>{{ form.gh10.2 }}</td>
					<td>{{ form.gh10.3 }}</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>{{ form.gh11.label_tag }}</td>
					<td>{{ form.gh11.1 }}</td>
					<td>{{ form.gh11.2 }}</td>
					<td>{{ form.gh11.3 }}</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>{{ form.gh12.label_tag }}</td>
					<td>{{ form.gh12.1 }}</td>
					<td>{{ form.gh12.2 }}</td>
					<td>{{ form.gh12.3 }}</td>
					<td></td>
					<td></td>
				</tr> -->
			</tbody>
		</table>
		<input type = "submit" value = "Save" />
	</form>
	<br>
{% endblock %}