<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="col-10">
			<h1> Patient List </h1>
		</div>
		<div class="col-2" align="right">
			<button type="button" class="btn btn-light border"><a href= {%url 'analytics_home' %}>Perform Analytics</a></button>
		</div>
	</div>
	<br>
	<table class="table table-bordered table-striped" style="border:2px solid lightgray; ">
		<thead>
			<tr>
				<th style="border-right: 2px solid lightgray">Patient Name</th>
				<th>DOB</th>
				<th></th>
			</tr>
		</thead>
		<tbody style="border-top: 3px solid lightgray">
			{% for patient in object_list %}
			<tr>
				<td style="border-right: 2px solid lightgray"><a href = "{% url 'patient_detail' patient.pk %}">{{ patient.name }}</a></td>
				<td>{{ patient.DOB }}</td>
				<td>{% if patient.ask_story %}
					<img src="/static/img/star.png" alt="Ask Story" height = "20">
					{% endif %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock content %}
