<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4" align="center">
			<br>
			<h5>Welcome, Dr. {{user.last_name}}!</h5>
			<br>
		</div>
	</div>
	<div class="row" style="margin-left: 5px;">
		<h2 style="margin-right: 5px;"> Patient List </h2>
		{% if user.user_type == 'A' or user.is_superuser %}
			<a href="{%url 'analytics_home' %}" class="btn btn-light btn-lg border" style="color:#007bff">Perform Analytics</a>
		{% endif %}

	</div>
	<br>
	<table class="table table-bordered table-striped" style="border:2px solid lightgray; ">
		<thead>
			<tr>
				<th style="width: 50%" style="border-right: 2px solid lightgray">Patient Name</th>
				<th style="width:33.33%">Next Appointment</th>
				<th style="width: 16.66%">Trauma Story</th>
			</tr>
		</thead>
		<tbody style="border-top: 3px solid lightgray">
			{% for patient, appt, story_existance in zipped_row_information %}
			<tr>
				<td style="border-right: 2px solid lightgray"><a href = "{% url 'patient_detail' patient.pk %}">{{ patient.name }}</a></td>
				<td>{{appt.appt_time}}</td>
				<td style="text-align: center">
					{% if story_existance %}
						<img src="/static/img/star.png" alt="Ask Story" height = "20">
					{% endif %}
				</td>

			</tr>
			{% endfor %}

		</tbody>
	</table>


{% endblock content %}
