<!-- templates/htq_detail.html -->
{% extends 'base.html' %}


{% block content %}


    <table class="table table-bordered table-striped" style="border:2px solid lightgray; ">
        <thead>
            <tr>
                <th style="border-right: 2px solid lightgray">Patient Count</th>
                <th>HTQ Count</th>
                <th>DSMV Count</th>
                <th>DSMV Avg Score</th>
                <th>Torture History Count</th>
                <th>Hopkins Part 1 Count</th>
                <th>Hopkins Part 1 Avg Score</th>
                <th>Hopkins Part 2 Count</th>
                <th>Hopkins Part 2 Avg Score</th>
            </tr>
        </thead>
        <tbody style="border-top: 3px solid lightgray">
            <tr>

            </tr>
    </table>
{% endblock content %}
