<!-- templates/patient_new.html -->
{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<h2 style="margin-left: 5px; margin-right: 5px"> Schedule Next Appointment for {{ patient.name }}</h2>
	</div>
	<br>
	<form action = "" method = "post">
	{% csrf_token %}
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}

    <div class="container">
        <div class="row">
            <div class='col-sm-6'>
                <input type='text' name="appt_time" class="form-control" id='id_appt_time' />
            </div>
        </div>
    </div>

		<br>
		<input type = "submit" value = "Save" />
	</form>
	<br>
    <br>
	<a href="{% url 'patient_detail' patient.pk %}" class="btn btn-light border" style="color:#007bff">Go Back</a>

	<br>


<script type="text/javascript">
    $(function () {
        $('#id_appt_time').addClass("form-control");
    })
    $(function () {
        $('#id_appt_time').datetimepicker({
            // Hacky way to get this to look ok and validate time/date
            // correctly.  Should be changed to use am/pm in the future
            // This will need to be changed if table field name changes
        format: "MM/DD/YYYY HH:mm",
        locale: 'en-gb',
        sideBySide: true});
    });
</script>

{% endblock %}
