<!-- templates/patient_new.html -->
{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<h2 style="margin-left: 5px; margin-right: 5px"> New Patient </h2>
		<a href="../.." class="btn btn-light border" style="color:#007bff">Go Back</a>
	</div>
	<br>
	<form action = "" method = "post">
	{% csrf_token %}
		<table>
			{{ form }}
		</table>
		<br>
		<input type = "submit" value = "Save" />
	</form>
	<br>
<script type="text/javascript">
	// Leaving out the datetimepicker for now, but leaving
	// in the functionality in case that decision changes

	/*$(function () {
		$('#id_DOB').addClass('form-control');
	})
    $(function () {
        $('#id_DOB').datetimepicker({
            format: 'MM/DD/YYYY',
            inline: true,
        });
    });*/
</script>
{% endblock %}
