<!-- templates/patient_detail.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="row" style="margin-left: 5px;">
        <h2 style="margin-right: 5px;">{{ patient.name }}</h2>
        {% if toolkit %}
            <a href="{% url 'toolkit_detail' toolkit.pk %}" class="btn btn-light btn-lg border" style="color:#007bff">Open Patient Toolkit</a>
            </div>
            <div>
            <br>
            </div>
        {% endif %}
    {% for story in stories %}
        <li>{{ story.comments }}</li>
    {% endfor %}

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Patient Info</th>
                <th><a href = "{% url 'patient_edit' patient.pk %}">+ Edit Patient Info</a></th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Gender</td> <td>{{ patient.gender }}</td></tr>
            <tr><td>DOB</td> <td>{{ patient.DOB }}</td></tr>
            <tr><td>Site</td> <td>{{ patient.site }}</td></tr>
            <tr><td>Blood Type</td> <td>{{ patient.blood_type }}</td></tr>
            <tr><td>Height</td> <td>{{ patient.height }} cm</td></tr>
            <tr><td>Weight</td> <td>{{ patient.weight }} Kg</td></tr>
            <tr><td>Allergies</td> <td>{{ patient.allergies }}</td></tr>
            <tr><td>Current Medications</td> <td>{{ patient.current_medications }}</td></tr>
            <tr><td>Phone Number</td> <td>{{ patient.phone_number }}</td></tr>
            <tr><td>Email</td> <td>{{ patient.email }}</td></tr>


        </tbody>
    </table>
    <div class="row">
        <div class="col" align="left">
            {% if toolkit %}
                <form action= "{% url 'patient_remove' patient.pk %}" method="POST">
                    {% csrf_token %}
                  <input type="submit" value="Remove Patient from Patient List" id="toggle1" />
                </form>
            {% else %}
                <form action= "{% url 'patient_add' patient.pk %}" method="POST">
                    {% csrf_token %}
                  <input type="submit" value="Add Patient to Patient List" id="toggle1" />
                </form>
            {% endif %}
        </div>
        <div class="col" align="right">
            <a href="{% url 'patient_delete' patient.pk %}" class="btn btn-light border" style="color:#007bff">- Delete Patient</a>
        </div>
    </div>
    <br>

{% endblock content %}
