<!-- templates/patient_new.html -->
{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<h2 style="margin-left: 5px; margin-right: 5px"> New Patient </h2>
		<a href="../.." class="btn btn-light border" style="color:#007bff">Go Back</a>
	</div>
	<br>
	<form action = "" method = "post">
	{% csrf_token %}
		<table>
			{{ form }}
			<!-- <tbody>
				<tr>
					<td>Name</td>
					<td>{{form.name}}</td>
				</tr>
			</tbody> -->
		</table>
		<br>
		<input type = "submit" value = "Save" />
	</form>
	<br>
<!-- <script type="text/javascript">
    $(function () {
        $('#datetimepicker12').datetimepicker({
            inline: true,
            sideBySide: true,
            format: 'DD.MM.YYYY' /*remove this line if you want to use time as well */
        });
    });
</script> -->
{% endblock %}
