<!-- templates/screenings.html -->
{% extends 'base.html' %}

{% block content %}
<div id="accordion" class="accordion">

    <div class="card m-b-0">
        <div class="card-header btn btn-light collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="true" data-patent="#accordion">
            <a class="card-title">
                <span style="font-weight:bold; float:left">HTQ</span>
            </a>
        </div>
        <div id="collapseOne" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <a href = "{%url 'HTQ_new' patient %}" class="btn btn-primary border">New HTQ</a>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Doctor</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for q in object_list %}
                            <tr><td>{{q.date}}</td> <td> {{q.doctor}}</td> <td><a href = "{%url 'HTQ_detail' q.pk %}"> View</a></td> <td><a href = "{%url 'HTQ_pdf' q.pk %}"> Download PDF</a></td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card m-b-0">
        <div class="card-header btn btn-light collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" data-patent="#accordion">
            <a class="card-title">
                <span style="font-weight:bold; float:left">DSM-V</span>
            </a>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <a href = "{%url 'DSMV_new' patient %}" class="btn btn-primary border">New DSM-V</a>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Doctor</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for q in dsmv_list %}
                            <tr><td>{{q.date}}</td> <td> {{q.doctor}}</td> <td>{{q.score}}</td> <td><a href = "{%url 'DSMV_detail' q.pk %}"> View</a></td></tr>
                        {% endfor %}
                    </tbody>
                </table> 
            </div>
        </div>
    </div>

    <div class="card m-b-0">
        <div class="card-header btn btn-light collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="true" data-patent="#accordion">
            <a class="card-title">
                <span style="font-weight:bold; float:left">Torture History</span>
            </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <a href = "{%url 'TH_new' patient %}" class="btn btn-primary border">New Torture History</a>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Doctor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for q in th_list %}
                            <tr><td>{{q.date}}</td> <td> {{q.doctor}}</td><td><a href = "{%url 'TH_detail' q.pk %}"> View</a></td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card m-b-0">
        <div class="card-header btn btn-light collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="true" data-patent="#accordion">
            <a class="card-title">
                <span style="font-weight:bold; float:left">Hopkins Part 1</span>
            </a>
        </div>
        <div id="collapseFour" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <a href = "{%url 'HP1_new' patient %}" class="btn btn-primary border">New Hopkins Part 1</a>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Doctor</th>
                            <th>Score</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for q in hp1_list %}
                            <tr><td>{{ q.date }}</td> <td> {{q.doctor}}</td><td>{{q.score}}</td><td><a href = "{%url 'HP1_detail' q.pk %}">View</a></td><td><a href = "{%url 'HTQ_pdf' q.pk %}"> Download PDF</a></td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card m-b-0">
        <div class="card-header btn btn-light collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="true" data-patent="#accordion">
            <a class="card-title">
                <span style="font-weight:bold; float:left">Hopkins Part 2</span>
            </a>
        </div>
        <div id="collapseFive" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <a href = "{%url 'HP2_new' patient %}" class="btn btn-primary border">New Hopkins Part 2</a>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Doctor</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for q in hp2_list %}
                            <tr><td>{{q.date}}</td> <td> {{q.doctor}}</td><td>{{q.score}}</td><td><a href = "{%url 'HP2_detail' q.pk %}"> View</a></td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

