<!-- templates/screenings.html -->
{% extends 'base.html' %}

{% block content %}

<div class = row style="margin-left: 5px;">
    <h1 style ="margin-right: 5px;">Screening Instruments</h1>
</div>
<div id="accordion" class="accordion">

    <div class="card m-b-0">
        <div class="card-header btn btn-light collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="true" data-patent="#accordion">
            <a class="card-title">
                <span style="font-weight:bold; float:left">HTQ</span>
            </a>
        </div>
        <div id="collapseOne" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <a href = "{%url 'HTQ_new' patient %}" class="btn btn-primary border">New HTQ</a>
                {% if object_list %}
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Doctor</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for q in object_list %}

                                <tr><td>{{q.date}}</td> <td> {{q.doctor}}</td> <td><a href = "{%url 'HTQ_pdf' q.pk %}"> Download PDF</a></td></tr>

                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h5>No current records.</h5>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card m-b-0">
        <div class="card-header btn btn-light collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" data-patent="#accordion">
            <a class="card-title">
                <span style="font-weight:bold; float:left">DSM-V</span>
            </a>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <a href = "{%url 'DSMV_new' patient %}" class="btn btn-primary border">New DSM-V</a>
                {% if dsmv_list %}
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Doctor</th>
                                <th>Score</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for q in dsmv_list %}
                                <tr><td>{{q.date}}</td> <td> {{q.doctor}}</td> <td>{{q.score}}</td><td><a href = "{%url 'DSMV_pdf' q.pk %}"> Download PDF</a></td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                <h5>No current records.</h5>
                {% endif %}
                <div id="DSMV"></div>
                <script>
                    makePlot("DSMV", ["DSMV"], [{{DSMV_x|safe}}], [{{DSMV_y|safe}}])
                </script>
            </div>
        </div>
    </div>

    <div class="card m-b-0">
        <div class="card-header btn btn-light collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="true" data-patent="#accordion">
            <a class="card-title">
                <span style="font-weight:bold; float:left">Torture History</span>
            </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <a href = "{%url 'TH_new' patient %}" class="btn btn-primary border">New Torture History</a>
                {% if th_list %}
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Doctor</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for q in th_list %}
                                <tr><td>{{q.date}}</td> <td> {{q.doctor}}</td><td><a href = "{%url 'TH_pdf' q.pk %}"> Download PDF</a></td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                <h5>No current records.</h5>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card m-b-0">
        <div class="card-header btn btn-light collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="true" data-patent="#accordion">
            <a class="card-title">
                <span style="font-weight:bold; float:left">Hopkins Part 1</span>
            </a>
        </div>
        <div id="collapseFour" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <a href = "{%url 'HP1_new' patient %}" class="btn btn-primary border">New Hopkins Part 1</a>
                {% if hp1_list %}
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Doctor</th>
                                <th>Score</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for q in hp1_list %}
                                <tr><td>{{ q.date }}</td> <td> {{q.doctor}}</td><td>{{q.score}}</td><td><a href = "{%url 'HP1_pdf' q.pk %}"> Download PDF</a></td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                <h5>No current records.</h5>
                {% endif %}
                <div id="HP1"></div>
                <script>
                    makePlot("HP1", ["HP1"], [{{HP1_x|safe}}], [{{HP1_y|safe}}])
                </script>
            </div>
        </div>
    </div>

    <div class="card m-b-0">
        <div class="card-header btn btn-light collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="true" data-patent="#accordion">
            <a class="card-title">
                <span style="font-weight:bold; float:left">Hopkins Part 2</span>
            </a>
        </div>
        <div id="collapseFive" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <a href = "{%url 'HP2_new' patient %}" class="btn btn-primary border">New Hopkins Part 2</a>
                {% if hp2_list %}
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Doctor</th>
                                <th>Score</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for q in hp2_list %}
                                <tr><td>{{q.date}}</td> <td> {{q.doctor}}</td><td>{{q.score}}</td><td><a href = "{%url 'HP2_pdf' q.pk %}"> Download PDF</a></td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                <h5>No current records.</h5>
                {% endif %}
                <div id="HP2"></div>
                <script>
                    makePlot("HP2", ["HP2"], [{{HP2_x|safe}}], [{{HP2_y|safe}}])
                </script>
            </div>
        </div>
    </div>

    <div class="card m-b-0">
        <div class="card-header btn btn-light collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="true" data-patent="#accordion">
            <a class="card-title">
                <span style="font-weight:bold; float:left">General Health/Physical Functioning</span>
            </a>
        </div>
        <div id="collapseSix" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <a href = "{%url 'GH_new' patient %}" class="btn btn-primary border">New General Health/Physical Functioning</a>
                {% if gh_list %}
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Doctor</th>
                                <th>Score</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for q in gh_list %}
                                <tr><td>{{q.date}}</td> <td> {{q.doctor}}</td> <td>{{q.score}}</td><td><a href = "{%url 'GH_pdf' q.pk %}"> Download PDF</a></td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                <h5>No current records.</h5>
                {% endif %}
                <div id="GH"></div>
                <script>
                    makePlot("GH", ["GH"], [{{GH_x|safe}}], [{{GH_y|safe}}])
                </script>
            </div>
        </div>
    </div>

</div>

{% endblock content %}



