<!-- templates/th_new.html -->
{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="col-10">
			<h1> New Torture History </h1>
			<br>
		</div>
		<div class="col-2" align="right">
		</div>
	</div>
	<form action = "" method = "post">
	{% csrf_token %}
		<h4>{{ form.date.label_tag }} {{ form.date }}</h4>
		<table border=1 class="table table-bordered table-striped">
			<thead>
				<tr>
					<th style="width: 75%">Question</th>
					<th style="width: 25%">Answer</th>
				</tr>
			</thead>
			<tbody>
				{% for field in form %}
					{% ifnotequal field.name 'date' %}
					<tr>
						<td>{{ field.label_tag }}</td>
						<td>{{ field }}</td>
					</tr>
					{% endifnotequal %}
				{% endfor %}
			</tbody>
		</table>
		<input type = "submit" value = "Save" />
	</form>
	<br>
{% endblock %}