<!-- templates/toolkit_detail.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <h2 style="margin-left: 5px; margin-right: 5px">{{ toolkit.docpat.patient.name }}</h2>
        <a href = "{% url 'patient_detail' toolkit.docpat.patient.pk %}" class="btn btn-light btn-lg border" style="color:#007bff">Back</a>
    </div>
    <br>
    <div class = "toolkit">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Patient Info</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr><td>1. Ask:</td> <td> {% if toolkit.ask %}
                    <a href = "{%url 'toolkit_ask' toolkit.pk %}" style="color:green">Complete!</a>
                    {% else %}
                    <a href = "{%url 'toolkit_ask' toolkit.pk %}" style="color:red">Incomplete</a>
                    {% endif %}</td></tr>
                <tr><td>2. Identify:</td> <td> {% if toolkit.identify %}
                    <a href = "{%url 'toolkit_identify' toolkit.pk %}" style="color:green">Complete!</a>
                    {% else %}
                    <a href = "{%url 'toolkit_identify' toolkit.pk %}" style="color:red">Incomplete</a>
                    {% endif %}</td></tr>

                <tr><td>3. Diagnose and Treat:</td> <td> {% if toolkit.diagnose_and_treat %}
                    <a href = "{%url 'toolkit_diagtreat' toolkit.pk %}" style="color:green">Complete!</a>
                    {% else %}
                    <a href = "{%url 'toolkit_diagtreat' toolkit.pk %}" style="color:red">Incomplete</a>
                    {% endif %} <a href = "{%url 'screenings' toolkit.docpat.patient.pk %}" style="color:#007bff"> - View</a> </td></tr>

                <tr><td>4. Refer:</td> <td> {% if toolkit.refer %}
                    <a href = "{%url 'toolkit_refer' toolkit.pk %}" style="color:green">Complete!</a>
                    {% else %}
                    <a href = "{%url 'toolkit_refer' toolkit.pk %}" style="color:red">Incomplete</a>
                    {% endif %}</td></tr>

                <tr><td>5. Reinforce and Teach:</td> <td> {% if toolkit.reinforce_and_teach %}
                    <a href = "{%url 'toolkit_reinteach' toolkit.pk %}" style="color:green">Complete!</a>
                    {% else %}
                    <a href = "{%url 'toolkit_reinteach' toolkit.pk %}" style="color:red">Incomplete</a>
                    {% endif %}</td></tr>

                <tr><td>6. Recommend:</td> <td> {% if toolkit.recommend %}
                    <a href = "{%url 'toolkit_recommend' toolkit.pk %}" style="color:green">Complete!</a>
                    {% else %}
                    <a href = "{%url 'toolkit_recommend' toolkit.pk %}" style="color:red">Incomplete</a>
                    {% endif %}</td></tr>

                <tr><td>7. Reduce High Risk Behavior:</td> <td> {% if toolkit.reduce_high_risk_behavior %}
                    <a href = "{%url 'toolkit_reducerisk' toolkit.pk %}" style="color:green">Complete!</a>
                    {% else %}
                    <a href = "{%url 'toolkit_reducerisk' toolkit.pk %}" style="color:red">Incomplete</a>
                    {% endif %}</td></tr>

                <tr><td>8. Be Culturally Attuned:</td> <td> {% if toolkit.be_culturally_attuned %}
                    <a href = "{%url 'toolkit_culture' toolkit.pk %}" style="color:green">Complete!</a>
                    {% else %}
                    <a href = "{%url 'toolkit_culture' toolkit.pk %}" style="color:red">Incomplete</a>
                    {% endif %}</td></tr>

                <tr><td>9. Prescribe Medication:</td> <td> {% if toolkit.prescribe %}
                    <a href = "{%url 'toolkit_prescribe' toolkit.pk %}" style="color:green">Complete!</a>
                    {% else %}
                    <a href = "{%url 'toolkit_prescribe' toolkit.pk %}" style="color:red">Incomplete</a>
                    {% endif %}</td></tr>

                <tr><td>10. Close and Schedule Followup Appointments:</td> <td> {% if toolkit.close_and_schedule%}
                    <a href = "{%url 'toolkit_close' toolkit.pk %}" style="color:green">Complete!</a>
                    {% else %}
                    <a href = "{%url 'toolkit_close' toolkit.pk %}" style="color:red">Incomplete</a>
                    {% endif %}</td></tr>

                <tr><td>11. Prevent Burnout:</td> <td> {% if toolkit.prevent_burnout %}
                    <a href = "{%url 'toolkit_burnout' toolkit.pk %}" style="color:green">Complete!</a>
                    {% else %}
                    <a href = "{%url 'toolkit_burnout' toolkit.pk %}" style="color:red">Incomplete</a>
                    {% endif %}</td></tr>
            </tbody>
        </table>                
    </div>
    <br>
{% endblock content %}


<!-- {% if user.is_authenticated %}
                                <p>Welcome, Dr. {{user.last_name}}!</p>
                                <p><a href = "{% url 'logout' %}">logout</a></p>
                                <p><a href = "{% url 'home' %}">home</a></p>
                        {% else %}
                                <p>You are not logged in.</p>
                                <a href = "{%url 'login' %}">login</a>
                        {% endif %} -->