authy==2.2.1
Babel==2.6.0
certifi==2018.4.16
chardet==3.0.4
Click==7.0
Django==2.0.6
django-countries==5.3.1
django-phonenumber-field==2.0.0
django-twilio==0.9.0
Flask==1.0.2
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
phonenumberslite==8.9.8
Pillow==5.2.0
psycopg2==2.7.5
PyJWT==1.6.4
PySocks==1.6.8
pytz==2018.4
reportlab==3.5.5
requests==2.19.1
simplejson==3.16.0
six==1.11.0
twilio==6.14.6
urllib3==1.23
Werkzeug==0.14.1
